<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="POS - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>Admin Dashboard</title>

<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.jpg">

<link rel="stylesheet" href="/css/admin/bootstrap.minn.css">
<link rel="stylesheet" href="/css/admin/animatee.css">
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/css/admin/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/css/admin/style-admin.css">
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
        </div>
        
        <div class="main-wrapper">
        
        <div class="header">
        
        <div class="header-left active">
        <a href="index.html" class="logo">
        <img src="/img/logo-4.png" alt="">
        </a>
        <a href="index.html" class="logo-small">
        <img src="/img/logo-small.png" alt="">
        </a>
        <a id="toggle_btn" href="#">
        </a>
        </div>
        
        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
        <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
        </span>
        </a>
        
        <ul class="nav user-menu">
        
        <li class="nav-item">
        <div class="top-nav-search">
        <a href="#" class="responsive-search">
        <i class="fa fa-search"></i>
        </a>
        <form action="#">
        <div class="searchinputs">
        <input type="text" placeholder="Search Here ...">
        <div class="search-addon">
        <span><img src="/img/icons/closes.svg" alt="img"></span>
        </div>
        </div>
        <a class="btn" id="searchdiv"><img src="/img/icons/search.svg" alt="img"></a>
        </form>
        </div>
        </li>
        
        
        
<li class="nav-item dropdown has-arrow main-drop">
    <a href="#" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
        <i class='fas fa-user-circle' style='font-size:36px'></i>
    </a>
    <div class="dropdown-menu menu-drop-user">
        <div class="profilename">
            <div class="profileset">
                <span class="user-img">Omar</span>
             
            </div>
            <hr class="m-0">
            <a class="dropdown-item" href="profile.html"> <i class="me-2" data-feather="user"></i> My Profile</a>
            <a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
            <hr class="m-0">
            <a class="dropdown-item logout pb-0" href="signin.html"><img src="/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
        </div>
    </div>
</li>

        
        
        <div class="dropdown mobile-user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="profile.html">My Profile</a>
        <a class="dropdown-item" href="generalsettings.html">Settings</a>
        <a class="dropdown-item" href="signin.html">Logout</a>
        </div>
        </div>
        
        </div>
        
        
        <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
        <ul>
        <li>
        <a href="/admin/dashboard"><img src="/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
        </li>
        <li class="submenu">
        <a href="#"><img src="/img/icons/product.svg" alt="img"><span> Product</span> <span class="menu-arrow"></span></a>
        <ul>
            <li><a href="/products" class="active">Product List</a></li>
            <li><a href="/products/create">Add Product</a></li>
            <li><a href="/categories">Category List</a></li>
  
        </ul>

        </li>
        
        
        <li class="submenu">
        <a href="#"><img src="/img/icons/users1.svg" alt="img"><span> Users</span> <span class="menu-arrow"></span></a>
        <ul>
        <li><a href="newuser.html">New User </a></li>
        <li><a href="userlists.html">Users List</a></li>
        </ul>
        </li>
        <li class="submenu">
            <a href="#"><img src="/img/icons/product.svg" alt="img"><span> Orders</span> <span class="menu-arrow"></span></a>
            <ul>
                <li><a href="#" >Orders List</a></li>
                <li><a href="#">Add Order</a></li>
            </ul>
            </li>
        <li class="submenu">
        <a href="#"><img src="/img/icons/settings.svg" alt="img"><span> Settings</span> <span class="menu-arrow"></span></a>
        <ul>
            <li><a href="#">General Settings</a></li>
            <li><a href="#">Email Settings</a></li>
            <li><a href="#">Payment Settings</a></li>

        </li>
        </ul>
       
        </div>
        </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Product Add</h4>
                        <h6>Create new product</h6>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                 
    <form th:action="@{/products/edit/{id}(id=${product.id})}" th:object="${product}" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" th:field="*{name}" class="form-control">
                                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Category:</label>
                                            <select th:field="*{category.id}" class="form-control">
                                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Metal:</label>
                                            <select th:field="*{metal.id}" class="form-control">
                                                <option th:each="metal : ${metals}" th:value="${metal.id}" th:text="${metal.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Description:</label>
                                            <textarea th:field="*{description}" class="form-control"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Price:</label>
                                                    <input type="number" th:field="*{price}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Weight:</label>
                                                    <input type="number" th:field="*{weight}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Rating:</label>
                                                    <input type="number" th:field="*{rating}" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Product Image</label>
                                            <div class="image-upload">
                                                <input type="file" id="image" name="image" accept="image/*" multiple class="form-control-file">
                                                <div class="image-uploads">
                                                    <img src="/img/icons/upload.svg" alt="img">
                                                    <h4>Drag and drop a file to upload</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                            <div class="col-12">
                                                <div class="product-list">
                                                <ul class="row">
                                                <li>
                                                <div class="productviews">
                                                <div class="productviewsimg">
                                                    <img th:src="@{${product.getPhotosImagePath()}}" alt ="prodict" /> 
                                                </div>
                                                <div class="productviewscontent">
                                                <div class="productviewsname">
                                                    <h2 th:text="${product.getName()}"></h2>

                                             
                                                </div>
                                                <a href="" class="hideset">x</a>
                                                </div>
                                                </div>
                                                </li>
                                                </ul>
                                                </div>
                                                </div>
                                        <div class="form-group">
                                            <button class="btn btn-submit me-2" type="submit">Create</button>
                                            <a href="productlist.html" class="btn btn-cancel">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    


<script src="/js/admin/jquery-3.6.0.min.js"></script>
<script src="/js/admin/feather.min.js"></script>
<script src="/js/admin/jquery.slimscroll.min.js"></script>
<script src="/js/admin/jquery.dataTables.min.js"></script>
<script src="/js/admin/dataTables.bootstrap4.min.js"></script>
<script src="/js/admin/bootstrap.bundle.min.js"></script>
<script src="/plugins/select2/js/select2.min.js"></script>
<script src="/js/admin/script.js"></script>
<script src="/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="/plugins/sweetalert/sweetalerts.min.js"></script>


</body>
</html>