<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="center">
        <div style="text-align: center;">
            <img src="/img/logo-4.png">
        </div>
        <form th:action="@{/login}" method="post" th:object="${user}">
            <div class="txt_field">
                <h3>Email</h3>
                <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
            </div>
        
            <div class="txt_field">
                <h3>Password</h3>
                <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
            </div>
            <span th:if="${error}" style="color: red;">[[${error}]]</span>
            <input type="submit" value="Login" />
        </form>

        <form th:action="@{/signup}" method="get">
            <div class="signup_link">Not a member?<a href="signup.html"></a> <button type="submit" class="btn btn-default login-btn">Create an Account</button></div>
        </form>
    </div>
  </body>
</html>
