

html, body {height: 100%;}
body {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.42857;
}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid;text-decoration:none;}
img {max-width:100%;height:auto
;
}
.fix {overflow:hidden}
p {margin:0 0 15px;color:#333}
h1, h2, h3, h5, h6 {
    color: white;
    font-weight: 700;
    line-height: 1.35;
	margin:0px;
}

a {transition: all 0.3s ease 0s;text-decoration:none;color:#333}
a:hover {
	color: #bebe44;
	text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}
.single-new-product {
	display: inline-block;
	width: calc(100% / [number of images per row]); /* Adjust based on desired number */
	margin-right: [margin value]; /* Optional spacing between images */
  }
  
ul{
	list-style: outside none none;
	margin: 0;
	padding: 0
}
.clear{clear:both}
/* body {} */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.logo2 {
	max-width: 50%; 
	float: left;
	margin-left: -20%;
  }

.menu-search-box {
	margin-left: -60%;
	padding-left: -60;
}
.ptb-10{padding:10px 0}
.ptb-25{padding:25px 0}
.ptb-40{padding:40px 0}
.ptb-50{padding:50px 0}
.ptb-60{padding:60px 0}
.ptb-70{padding:70px 0}
.ptb-80{padding:80px 0}
.pt-10{padding-top:10px;}
.pt-40{padding-top:40px;}
.pt-50{padding-top:50px;}
.pt-80{padding-top:80px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}
.pb-50{padding-bottom:50px;}
.pb-80{padding-bottom:80px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}
.mb-30{margin-bottom:30px;}


/* ---------3.Mainmenu-Area-Start---------- */

.mainmenu ul li{
	display:inline-block;
	position:relative;
}
.mainmenu ul li:first-child a {
    padding-left: 0;
}
.mainmenu ul li a{
	color: #333333;
	display: block;
	font-size: 14px;
	font-weight: 900;
	line-height: 25px;
	padding: 30px 20px;
	margin-left:40px;
	position: relative;
	text-transform: uppercase;
	transition:all.3s;
}
.mainmenu ul li:hover > a,.mainmenu ul li.active > a{
	color:#d8bb78; 
}
.mainmenu ul li ul {
	background: #ffffff none repeat scroll 0 0;
	left: 0;
	padding: 15px 10px;
	position: absolute;
	top: 100%;
	width: 230px;
	z-index: 111;
	text-align:left;
	opacity:0;
	transform:scaleY(0);
	transform-origin: 0 0 0;
	visibility:hidden;
	transition:all .5s;
	box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
}
.mainmenu ul li:hover > ul{
	opacity:1;
	transform:scaleY(1);
	visibility:visible;
}
.mainmenu ul li > ul li{
	display:block;
} 
.mainmenu ul li > ul li > a {
	color: #666666;
	padding:  6px 0;
	text-transform: capitalize;
	font-weight: 500;
}
.mainmenu ul li > ul li > a:hover{
	color:#d8bb78;
	transition:none;
} 
/* megamenu */
.mainmenu ul li .megamenu {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
	padding: 15px 10px;
	position: absolute;
	width: 690px;
	transition:all.5s;
	transform:scaleY(0);
	opacity:0;
	visibility:hidden;
	transform-origin:0 0 0;
	z-index:5000;
}
.mainmenu ul li:hover .megamenu{
	opacity:1;
	transform:scaleY(1);
	visibility:visible;
}
.mainmenu ul li .megamenu span{
	width:33.3%;
	float:left;
	padding:0 18px;
}
.mainmenu ul li .megamenu span a.megatitle {
	border-bottom: 1px solid #dddddd;
	color: #333333;
	font-size: 15px;
	font-weight: 900;
	margin-bottom: 8px;
	text-transform: uppercase;
}
.mainmenu ul li .megamenu span a{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	padding: 7px 0;
	text-transform: capitalize;
	overflow:hidden;
}
.mainmenu ul li .megamenu span a:hover{
	color:#d8bb78;
	transition:none;
}
.mainmenu ul li .megamenu2{
	width:800px!important;
	left:-30px;
}
.mainmenu ul li .megamenu2 span{
	width:25%;
}

/* end-megamenu */
.headerr {
    height: 500px;
    width: 100%;
    text-align: center;
	margin-top:500px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    background: linear-gradient(rgba(155, 179, 50, 0.2), rgba(44, 13, 2, 0.2)), url(../img/banner.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    border:none
}
body .main .shop-btn {
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  body .main .image_shop {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 767px) {
   body .main .image_shop {
      height: 300px;
    }
  }
  body .hero-header {
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top: 340px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    background: linear-gradient(rgba(13, 9, 36, 0.2), rgba(29, 27, 27, 0.2)), url(../img/banner.jpeg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    border:none
}

@media (max-width: 767px) {
  body .headerr {
    height: 300px;
    padding-top: 200px;
  }

}
body .box 
{
    padding-left: 110px;
    
    /* height: 500px; */
    justify-content: space-evenly;
   
}

body .b img{
  width:300px;
  height: 300px;
}
body .box button
{
    /* width:95%; */
    border:none;
    padding-bottom: 20px;
    background: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0,0,0,0.25);
}
body .box button:hover
{
    box-shadow:20px 20px 30px rgba(0,0,0,0.6);
}


body .Contain
{
   width: 90%;
   display: flex;
}
#col1
{
    width: 70%;
    height: 40%;

}
#col2
{
    width: 70%;
    height: 40%;
}
#col3
{
    width: 70%;
    height: 40%;
}
body .h_products h2{
  align-items: center;
  text-align: center;
  color:#333333;
}
@media (max-width: 767px) {
 body .box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

 body .box button {
    width: 100%;
  }

 body .b img {
    width: 20%;
  }

 body .Contain {
    flex-direction: row;
  }

  #col1,
  #col2,
  #col3 {
    width: 100%;
    height: auto;
  }

 body .h_products h2 {
    text-align: center;
  }
}
#banner{
display:flex;
flex-direction:column;
justify-content: right;
align-items:self-end;
text-align: right;
background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(24, 15, 15, 0.2)), url(../img/banner2.jpeg);
height: 50vh;
background-size: cover;
background-position:center;
word-spacing: 2px;
}
#banner h2 {
  padding-top: 130px;
  font-size: 30px;
  margin-left: 50px; /* Add margin-left for left alignment */
}

#banner button{
  position:absolute;
  margin-top: 190px;
  margin-bottom: 80px;
  margin-left: 300px;
  margin-right: 270px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#F27144;
  border-radius: 30px;
  border:none;
  font-size: 25 ;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#banner a{
  text-decoration: none;
  font-size:18px;
  color:#ffffff;
}

#banner button a:hover{

  color: rgb(255, 255, 255);
  cursor: pointer;

}

@media (max-width: 767px) {
  #banner {
    height: 30vh;
    width: 100%;
  }

  #banner h2 {
    padding-top: 50px;
    padding-right: 50px;
    font-size: 22px;
  }

  #banner h2 span {
    font-size: 22px;
  }

  #banner button {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 160px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  #banner a {
    font-size: 14px;
  }
  
.copyright{
  width:100%;
  text-align: center;
  color:#878f88;
  }
  
}


footer{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}
.pageFooter{
  color:#878f88;
  background-color: #ffffff;
}

footer .col{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  
}

footer .Logo{
  margin-bottom:30px;

}

footer h4{
  font-size:14px;
  padding-bottom:20px;
}

footer p{
  font-size:13px;
  margin:0 0 8px 0;
}

footer a{
  font-size:13px;
  text-decoration: none;
  color:#878f88;
  margin-bottom: 10px;
}

footer .follow{
  margin-top:20px;
 
}

footer .follow i{
padding-right:4px;
cursor:pointer;
 
}

footer .install .row img{
border:1px solid black;
border-radius:6px;
}

footer .install img{
 margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover{
  color:d8bb78;

}

.copyright{
width:100%;
text-align: center;
color:#878f88;
}
