<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>nav </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
    </head>
<body>
    <div th:fragment="header">
        <!-- Header content goes here -->
        <section id="header">
            <a href="/"><img src="/img/logo-4.png" class="logo" alt="Logo" width="145" height="50"></a>
            <div>
                <ul id="navbar">
                    <li>
                        <div>
                            <input type='text' name='search_text' id='search_text' placeholder='Search...' />
                        </div>
                    </li>
                    <li th:if="${session['id'] != null}"><a th:href="@{/MyProfile}" th:text="MyProfile"></a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li th:if="${session['id'] != null}"><a th:href="@{/wishlist}">Wishlist</a></li>
                    <li th:if="${session['id'] != null}"><a href="cart">Cart</a></li>
                    <li th:if="${session['id'] != null}"><a href="chat">Contact</a></li>
                    <!-- Check if the user is authenticated -->
                    <li th:if="${session['id'] == null}">
                      <a th:href="@{'/login'}">Login</a>
                    </li>
                    <li th:if="${session['id'] != null}">
                        <a th:href="@{'/logout'}">Logout</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    
</body>
</html>